

.barsGraph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 200px;
    margin-top: 20px;
    margin-left: 80px; //move the graph to the right, so the grade names would be on the left of the graph

    position: relative;
    z-index: 1; // make it above the grid
}

.bar {
   width: 12%;
   border: 0.5px solid white;
   margin-left: 10px;

   background: rgb(0,26,77);
   background: linear-gradient(0deg, rgba(0,26,77,1) 0%, rgba(0,0,0,1) 100%);
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.new__row {
    position: relative;
    height: 30px;
}

.new__row__line {
    content: '';
    position: absolute;
    left: 18%;
    top: 50%;
    right: 0;
    height: 1px;
    background-color: gray;
    
    //Google Pixel portrait
    @media only screen
    and (max-device-width : 420px)
    and (orientation : portrait)
    {
        left: 22%;
    }

    //Apple iPhone 8 portrait
    @media only screen
    and (max-device-width : 375px)
    and (orientation : portrait)
    {
        left: 25%;
    }

    //Apple iPhone 8 Plus landscape
    @media only screen
    and (max-device-width : 850px)
    and (orientation : landscape)
    {
        left: 20%;
    }

    //Google Pixel 2 XL landscape
    @media only screen
    and (max-device-width : 830px)
    and (-webkit-min-device-pixel-ratio: 3.5)
    and (orientation : landscape)
    {
        left: 18%;
    }
    
    //Apple iPhone 8 landscape
    @media only screen
    and (max-device-width : 700px)
    and (orientation : landscape)
    {
        left: 22%;
    }
}

.new__row__item {
    width: 18%; // this is correlated with '.new__row__line' 'left' property. this makes the ability to use text-align
    height: 30px;
    line-height: 30px;

    text-align: left;

    font-family: "Utopia Std", Georgia, sarif;
    color: #878787;
    font-size: 12px;
    font-style: italic;
    
    //Google Pixel portrait
    @media only screen
    and (max-device-width : 420px)
    and (orientation : portrait)
    {
        width: 22%;
    }    

    //Apple iPhone 8 portrait
    @media only screen
    and (max-device-width : 375px)
    and (orientation : portrait)
    {
        width: 25%;
    }

    //Apple iPhone 8 Plus landscape
    @media only screen
    and (max-device-width : 850px)
    and (orientation : landscape)
    {
        width: 20%;
    }

    //Google Pixel 2 XL landscape
    @media only screen
    and (max-device-width : 830px)
    and (-webkit-min-device-pixel-ratio: 3.5)
    and (orientation : landscape)
    {
        width: 18%;
    }
    
    //Apple iPhone 8 landscape
    @media only screen
    and (max-device-width : 700px)
    and (orientation : landscape)
    {
        width: 22%;
    }
}

.bars_graph_foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: -5px;
    margin-left: 80px; // move the x axis labels to the right, so the labels would be in the center of the bars (see their css rules)
}

.bars_graph_foot_item {
    text-align: center;

    width: 12%;  // correlated with '.bar'
    margin-left: 10px;

    height: 30px;

    font-family: "Utopia Std", Georgia, sarif;
    color: #878787;
    font-size: 12px;
    font-style: italic;
}
